:root {
    --fuenteHeading: 'PT Sans', sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;

    --primario: #784D3C;
    --gris: #E1E1E1;
    --blanco: #FFF;
    --negro: #000;
}

html{
    font-size: 62.5%;
	box-sizing: border-box; 
}
*,*:before, *:after{
	box-sizing: inherit;
}

body{
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2;
}
a {
    text-decoration: none;
}

h1,h2,h3,h4 {
    font-family: var(--fuenteHeading);
    line-height: 1.2;
}

h1 {
    font-size: 4.8rem;
}
h2 {
    font-size: 4rem;
}
h3 {
    font-size: 3.2rem;
}
h4 {
    font-size: 2.8rem;
}

img  {
    display: block;
    object-fit: cover;
    width: 100%;
}

.centro {
    text-align: center;
    margin: 0 auto;
}

.contenedor {
    width: 30cm;;
    margin: 0 auto;
}

.contenedor-menu {
    width: 25cm;
    margin: 0 auto;
    background-color: #F4C272;
}

.header {
    background-image: url(./img/banner.jpg);
    background-color: rgb(171, 163, 135);
    height: 60rem;
    background-size: cover;
    background-position:  center; 
}

.inicio {
    background-color: var(--negro);
    margin-top: 0;
    padding-bottom: 3rem;
}

.barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 4rem;
}

.centrar-texto{
    text-align: center;
}

.centrar-texto-header{
    text-align: center;
    margin: 0 auto;
    color: var(--blanco);
}

.logo{
    color: var(--blanco);
}
.logo__nombre {
    font-weight: normal;
}
.logo__bold {
    font-weight: bold;
}
.navegacion {
    display: flex;
    gap: 2rem;
}
.no-margin {
    margin: 0;
}
.footer {
    background-color: var(--negro);
    margin-top: 4rem;
    padding-bottom: 3rem;
}

.copyright {
    color: white;
}

.seccion {
    margin-top: calc(5rem / 2);
    margin-bottom: calc(5rem / 2);
}
.contenido-centrado {
    max-width: 80rem;
}
.alerta {
    padding: .5rem;
    text-align: center;
    color: #ffffff; 
    font-weight: bold; 
    text-transform: uppercase;
    margin: 1rem 0;
}

.alerta.error {
    background-color: #ff0000; 
}

.alerta.exito {
    background-color: #00ff00; 
}
.formulario {
    background-color: var(--blanco);
    margin: -5rem auto 0 auto;
    width: 95%;
    padding: 5rem;
}

.c-boton {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin-top: 2rem;
}


.boton-verde, .boton-rojo {
    background-color: #71B100; 
    color: white;
    font-weight: 700;
    text-decoration: none;
    padding: 1rem 3rem;
    text-align: center;
    border: none;
    display: block;
    margin: 2rem auto;
}

.boton-rojo {
    background-color: red; 
}

.boton-rojo:hover{
    background-color: darkred;
    cursor: pointer;
}

.boton-verde:hover {
    background-color: darkgreen;
    cursor: pointer;
}

.boton-gris {
    background-color: darkgray;
    color: white;
    font-weight: 700;
    text-decoration: none;
    padding: 1rem 3rem;
    text-align: center;
    margin-top: 2rem;
    display: inline-block;
    border: none;
}

.boton-gris:hover {
    background-color: gray;
    cursor: pointer;
}

.texto-header {
    color: var(--blanco);
}

.navegacion__enlace{
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--blanco);
}

.menu {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 2rem;
}

.menu-seccion {
    background: rgba(245, 245, 245, 0.5);
    padding: 1rem;
    border-radius: 2rem;
    padding-bottom: 2rem;
    transition: all 300ms ease;
    cursor: default;
    align-items: center;
}

.img-menu {
    border-radius: 1rem;
    overflow: hidden;

}

.titulo-menu {
   display: flex;
   justify-content: center;
   font-weight: 900;
   color: #78451a;
   font-size: 2rem;
}

.enlace-registro {
    color: rgb(76, 158, 25);
}

.campos {
    display: flex;
    flex-direction: column;
}

.mesas {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 2rem;
}

.mesas-seccion {
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 2rem;
    padding-bottom: 2rem;
    box-shadow: 10px 7px 20px orange;
    transition: all 300ms ease;
    cursor: default;
    margin: 0 auto;
}

.mesas-seccion-rojo {
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 2rem;
    padding-bottom: 2rem;
    box-shadow: 10px 7px 20px red;
    transition: all 300ms ease;
    cursor: default;
    margin: 0 auto;
}

.img-mesa{
    border-radius: 1rem;
    overflow: hidden;
    width: 50%;
    margin: 0 auto;
}

.pedidos {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 2rem;
}

.pedidos-seccion {
    background-color: #ffffff;
    padding: 1rem;
    padding-bottom: 2rem;
    box-shadow: 10px 7px 20px orange;
    transition: all 300ms ease;
    cursor: default;
    margin: 0 auto;
    width: 100%;
}

.personal {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 2rem;
}

.personal-seccion {
    position: relative;
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 2rem;
    padding-bottom: 2rem;
    box-shadow: 10px 7px 20px orange;
    transition: all 300ms ease;
    cursor: default;
    margin: 0 auto;
    width: 300px; 
    height: 300px; 
}

.personal-agregar {
    background-color: green;
    color: white;
    padding: 1rem;
    border-radius: 2rem;
    padding-bottom: 2rem;
    cursor: pointer;
    font-size: 2rem;
    font-weight: bold;
    transition: background-color 0.3s;
    transition: all 300ms ease;
    cursor: pointer;
    margin: 0 auto;
    width: 300px; 
    height: 300px; 
}

.personal-agregar:hover {
    background-color: darkgreen;
}

.personal-borrar {
    background-color: red; 
    color: white; 
    padding: 0.5rem 1rem; 
    border-radius: 0.5rem;
    position: absolute;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s; 
}

.personal-borrar:hover {
   background-color: darkred; 
}

.personal-editar {
    background-color: rgb(0, 8, 255); 
    color: white; 
    padding: 0.5rem 1rem; 
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    position: absolute;
    right: 10px;
   
}

.personal-editar:hover {
    background-color: rgb(0, 8, 180);
}

.cocina {
    width: 20cm;
    height: auto;
    margin: 0 auto;
    background-color: rgb(239, 220, 182);
    box-sizing: border-box;
    text-align: left;
    border-radius: 10px;
    box-shadow: 10px 10px 5px rgb(253, 240, 212);
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
    padding-left: 15px;
  }

  .bar {
    width: 20cm;
    height: auto;
    margin: 0 auto;
    background-color: rgb(205, 239, 182);
    box-sizing: border-box;
    text-align: left;
    border-radius: 10px;
    box-shadow: 10px 10px 5px rgb(226, 253, 212);
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
    padding-left: 15px;
}

.contenedor-eliminar {
    width: 30cm;;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn_rojo {
    margin-left: 2rem;
    background: red;
    color: white;
    border-radius: 30px;
    padding: 0.5rem;
    width: 50%;
    cursor: pointer;
}

.btn_rojo:hover {
    background: darkred;
}

.btn_verde {
    background: green;
    color: white;
    border-radius: 30px;
    padding: 0.5rem;
    width: 50%;
    cursor: pointer;
}

.btn_verde:hover {
    background: darkgreen;
}

.mensaje-eliminar {
    align-content: center;
    text-align: center;
}

.campoMesero {
    display: none;
}

.campoMeseroVista {
    display: block;
}

.reportes {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 2rem;
}

.form-reporte-platos {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 2rem;
}

.form-reporte-horario {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 2rem;
}

.form-reporte-promedio {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 2rem;
}

.form-reporte-quejasp {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 2rem;
}

.form-reporte-quejasper {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 2rem;
}

.form-reporte-eficiencia {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 2rem;
}

.boton-reporte-platos {
    background-color: #71B100; 
    color: white;
    font-weight: 700;
    text-decoration: none;
    padding: 1rem 3rem;
    text-align: center;
    border: none;
    display: block;
    margin: 2rem auto;
}

.boton-reporte-horario {
    background-color: #71B100; 
    color: white;
    font-weight: 700;
    text-decoration: none;
    padding: 1rem 3rem;
    text-align: center;
    border: none;
    display: block;
    margin: 2rem auto;
}

.boton-reporte-promedio {
    background-color: #71B100; 
    color: white;
    font-weight: 700;
    text-decoration: none;
    padding: 1rem 3rem;
    text-align: center;
    border: none;
    display: block;
    margin: 2rem auto;
}

.boton-reporte-quejasper {
    background-color: #71B100; 
    color: white;
    font-weight: 700;
    text-decoration: none;
    padding: 1rem 3rem;
    text-align: center;
    border: none;
    display: block;
    margin: 2rem auto;
}

.boton-reporte-quejasp {
    background-color: #71B100; 
    color: white;
    font-weight: 700;
    text-decoration: none;
    padding: 1rem 3rem;
    text-align: center;
    border: none;
    display: block;
    margin: 2rem auto;
}

.boton-reporte-eficiencia {
    background-color: #71B100; 
    color: white;
    font-weight: 700;
    text-decoration: none;
    padding: 1rem 3rem;
    text-align: center;
    border: none;
    display: block;
    margin: 2rem auto;
}